@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  color: var(--foreground);
  background: var(--background);
  /* Запрет системных жестов и скролла для эффекта нативного приложения */
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Фикс для iOS: убираем выделение при нажатии */
* {
  -webkit-tap-highlight-color: transparent;
}
